
body {background-color:#0bffff}

#sineButton {background-color: rgb(83, 153, 86); border-radius: 12px; font-size: 20px;}
#squareButton {background-color: rgb(121, 159, 173); border-radius: 12px; font-size: 20px;}
#sawtoothButton {background-color: #dbcfce; border-radius: 12px; font-size: 20px;}
#triangleButton {background-color: #e7e7e7; border-radius: 12px; font-size: 20px;}
#stopButton {background-color: #7a7676; border-radius: 12px; font-size: 50px;}